body{
    background-color: brown;
}

.main-component {
    margin: 18%;
    text-align: center;
    color: rgb(105, 218, 199);
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    margin: 1%;
    display:inline-flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: rgb(105, 218, 199);

}

.footer {
    margin: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: rgb(105, 218, 199);

}

.hd {
    display:inline-flex;
}